#Terraform
*.tfstate*
crash.*
*override.tf*
.terraform*
!.terraform.lock.hcl
!**/testing/localstack.tfvars
*variables.tfvars

secrets*

*/volume/

.npmrc

**/TradeDesk*

*.env
!*.dist.env

.DS_Store
StaticSite/testing/core
StaticSite/testing/officemanager
StaticSite/testing/operations
StaticSite/testing/reporting
StaticSite/testing/trade
